/*police icon*/

.far,
.fas,
.fa-regular,
.fa-solid {
	font-family: "Font-awesome";
}

.bouton_filtre .fas,
.puce_2 .fas,
.bluestar .fas,
.blue_star {
	color: #0065fc;
}
.grey_star {
	color: #f2f2f2;
}
/*liens*/
a {
	text-decoration: none;
	color: black;
}
/*généralités*/
body {
	font-family: "Raleway", "Georgia", "sans-serif", "font-awesome";
	max-width: 1600px;
	margin: 0 auto;
}

h1 {
	font-size: x-large;
	margin: 0px;
	margin-bottom: 20px;
}

h2 {
	font-size: medium;
}

h3 {
	font-size: 17px;
	margin: 10px 0 0 0;
}

p {
	font-size: 15px;
	font-weight: 500;
	margin: 5px 0;
}
/*haut de page*/
header {
	display: flex;
	justify-content: space-between;
	margin-left: 30px;
	margin-bottom: 30px;
}
#logo {
	height: 70px;
	width: 150px;
	padding-top: 30px;
}
#logo img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

nav {
	display: flex;
}

.navigation {
	display: flex;
	padding: 60px 60px 10px 60px;
	border: 3px solid white;
}

.navigation:hover {
	border-top: 3px solid #0065fc;
	color: #0065fc;
}
.section_header {
	margin: 10px 30px;
}

/*barre de recherche*/
.recherche {
	display: flex;
	padding: 3px;
	height: 50px;
	justify-content: flex-start;
	align-items: center;
}
.marker {
	background-color: #f2f2f2;
	padding: 11px 12px 12px 12px;
	border: 2px solid #f2f2f2;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}

input#ville {
	border: none;
	font-family: "raleway";
	font-size: medium;
	font-weight: bold;
	padding: 12px;
	border-top: 2px solid #f2f2f2;
	border-bottom: 2px solid #f2f2f2;
}
.submit {
	background-color: #0065fc;
	color: white;
	font-size: medium;
	border: none;
	font-family: "raleway";
	font-weight: bold;
	padding: 12px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	border-top: 2px solid #0065fc;
	border-bottom: 2px solid #0065fc;
	position: relative;
	left: -3px;
}
/*boutons filtres*/
.filtres {
	display: flex;
	flex-wrap: wrap;
	padding: 3px;
}
.bouton_filtre1 {
	display: flex;
	align-items: baseline;
	margin: 10px;
	margin-left: 0px;
	margin-right: 20px;
}
.bouton_filtre {
	display: flex;
	align-items: center;
	margin: 10px;
	margin-left: 0px;
	margin-right: 20px;
	border: 2px solid #f2f2f2;
	border-radius: 50px;
	cursor: pointer;
}
.texte_filtre {
	font-weight: bold;
	margin: 10px;
}

.puce_1 {
	text-align: center;
	width: 20px;
	padding: 15px;
	background-color: #deebff;
	border-radius: 50%;
	margin: -2px;
}
.bouton_filtre:hover {
	transform: scale(1.05);
}
.puce_2 {
	padding: 4px 12px;
	margin-right: 10px;
	border: 2px solid #f2f2f2;
	border-radius: 15px;
}

.dispo {
	display: flex;
	align-items: baseline;
	padding: 3px;
}
/*section vignettes*/
.hebergements {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 30px;
	gap: 30px;
}

.hebergements_marseille {
	box-sizing: border-box;
	background-color: #f2f2f2;
	padding: 30px;
	flex: 2;
	border-radius: 20px;
}
.vignettes_hebergements {
	display: flex;
	flex-wrap: wrap;
	gap: 30px;
}
.vignette_1 {
	box-sizing: border-box;
	flex: 1;
	min-width: 220px;
	height: 220px;
	padding: 5px;
	border-radius: 20px;
	background-color: white;
	box-shadow: 6px 6px 10px #d3d3d3;
}
.photo_1 {
	height: 60%;
	width: 100%;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	overflow: hidden;
}
.photo_1 img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.descriptif_1 {
	padding-left: 8px;
	padding-bottom: 8px;
}
.vignette_1:hover {
	transform: scale(1.02);
}
.populaires {
	box-sizing: border-box;
	flex: 1;
	background-color: #f2f2f2;
	padding: 30px;
	border-radius: 20px;
}
.titre_populaires {
	display: flex;
	justify-content: space-between;
	align-items: baseline;
}
.vignettes_populaires {
	display: flex;
	flex-direction: column;
	gap: 30px;
}

.vignette_2 {
	display: flex;
	height: 155px;
	padding: 5px;
	border-radius: 20px;
	background-color: white;
	box-shadow: 6px 6px 10px #d3d3d3;
	cursor: pointer;
}

.photo_2 {
	max-width: 35%;
	min-width: 35%;
	height: 155px;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
	overflow: hidden;
	padding-right: 16px;
}

.photo_2 img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.descriptif_2 {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding-bottom: 5px;
	padding-right: 40px;
}
.vignette_2:hover {
	transform: scale(1.02);
}
.activites {
	margin: 30px;
}
.vignettes_activites {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.colonne1 {
	width: 23%;
}
.colonne2 {
	width: 23%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.vignette_3 {
	width: 100%;
	height: 500px;
	border-radius: 20px;
	box-shadow: 6px 6px 6px #f2f2f2;
	cursor: pointer;
}
.photo_3 {
	width: 100%;
	height: 440px;
	overflow: hidden;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	padding-bottom: 5px;
}
.photo_3 img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.vignette_3 h3 {
	padding-left: 10px;
}
.vignette_4 h3 {
	padding-left: 10px;
}
.vignette_4 {
	width: 100%;
	height: 240px;
	border-radius: 20px;
	box-shadow: 6px 6px 6px #f2f2f2;
	cursor: pointer;
}
.photo_4 {
	width: 100%;
	height: 180px;
	overflow: hidden;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	padding-bottom: 8px;
}
.photo_3 img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.photo_4 img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.vignette_3:hover,
.vignette_4:hover {
	background-color: #f2f2f2;
	transform: scale(1.02);
}
/*bas de page*/
footer {
	display: flex;
	background-color: #f2f2f2;
}
.liste {
	padding: 3px;
	padding-right: 60px;
	margin: 30px;
}
ul {
	list-style-type: none;
	padding-inline-start: 0px;
	margin-top: 10px;
}
li {
	padding: 6px 0;
}
li a:hover {
	color: #0065fc;
}

/*format tablettes*/
@media screen and (min-width: 768px) and (max-width: 992px) {
	.hebergements {
		flex-direction: column-reverse;
		flex-wrap: wrap;
		justify-content: space-between;
		align-content: center;
	}
	.hebergements_marseille {
		background-color: white;
		margin: 0;
		padding: 0;
	}

	.vignette_1 {
		box-shadow: 6px 6px 10px #f2f2f2;
	}

	.vignettes_populaires {
		flex-wrap: wrap;
		justify-content: center;
	}
	.vignette_2 {
		min-width: 250px;
	}
	.colonne1 {
		width: 47%;
		padding-bottom: 25px;
	}
	.colonne2 {
		width: 47%;
		padding-bottom: 25px;
	}
}
/*gestion icon search*/
@media screen and (min-width: 767px) {
	.icon {
		display: none;
	}
}
/*format telephone portable*/
@media screen and (max-width: 767px) {
	header {
		flex-direction: column;
		padding-right: 0;
		padding-left: 0;
		margin-left: 0;
	}
	#logo {
		text-align: center;
		margin: auto;
	}
	nav {
		justify-content: center;
		width: 100%;
		margin: 0;
	}
	nav a {
		width: 100%;
	}
	.navigation {
		justify-content: center;
	}
	.navigation:hover {
		border-bottom: 3px solid #0065fc;
		border-top: 3px solid white;
	}
	.section_header {
		margin: 20px;
	}
	.marker {
		padding: 10px 12px 12px 12px;
	}
	input#ville {
		font-size: small;
		width: 120px;
		padding: 13px;
	}

	.word {
		display: none;
	}
	.submit {
		border-radius: 10px;
		left: -6px;
		padding: 11px 12px;
	}
	.hebergements {
		flex-direction: column-reverse;
		flex-wrap: wrap;
		justify-content: space-between;
		align-content: center;
		margin: 0;
		padding: 0;
	}
	.hebergements_marseille {
		background-color: white;
		padding: 0;
		margin: 20px;
	}

	.vignettes_hebergements {
		justify-content: center;
		gap: 20px;
	}
	.vignette_1 {
		min-width: 260px;

		box-shadow: 6px 6px 10px #f2f2f2;
	}
	.populaires {
		margin: 0;
		padding: 20px;
		border-radius: 0%;
	}
	.titre_populaires {
		margin: auto;
	}
	.vignettes_populaires {
		gap: 20px;
	}
	.activites {
		display: flex;
		flex-direction: column;
		margin: 0;
		padding: 20px;
	}
	.vignettes_activites {
		flex-direction: column;
		align-items: center;
		justify-content: center;
		padding: 0;
		margin: 0;
		gap: 20px;
	}
	.colonne1 {
		width: 100%;
		gap: 20px;
	}
	.colonne2 {
		width: 100%;
		gap: 20px;
	}
	.vignette_3 {
		height: 240px;
	}
	.photo_3 {
		height: 180px;
	}

	footer {
		flex-direction: column;
	}
	.liste {
		margin-left: 20px;
	}
}
